[Desktop Entry]
Encoding=UTF-8
Name=Aseprite
Exec=~/Applications/Aseprite/aseprite
GenericName=Aseprite
Comment=Pixel Art Painting
Type=Application
Icon=~/Applications/Aseprite/aseprite_logo.png
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false



Name[en_US]=Aseprite.desktop
